# Server Configuration
PORT=4000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=mbspro
DB_PASSWORD=mbspro
DB_DATABASE=mbspro

# Application Configuration
API_PREFIX=api
SWAGGER_ENABLED=true
